<div class="container">
        {{sonatribe-menu}}
        <button class="menu-button" id="open-button">Open Menu</button>

        <div class="content-wrap">
            <div class="content">
                <section>
                    <p>
                        <button id="trigger-overlay" type="button">Open Overlay</button>
                        {{outlet}}
                    </p>
                </section>

            </div>
        </div>
    </div>
{{sonatribe-login}}
